<h1>管理画面のユーザー一覧画面</h1>

<table>
  <thead>
    <tr>
      <th>User name</th>
    </tr>
  </thead>

  <tbody>   
    <% @users.each do |user| %>
      <tr class = "user_row">
        <td><%= user.name %></td>
        <td><%= link_to 'Show', admin_user_path(user) %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

